<div>

  <md-content>


    <md-card>
      <md-toolbar class="md-info">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Roles</h2>

          <md-menu md-position-mode="target-right target" ng-if="main.findSelected()">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-click="main.editRoleModal()">
                    <div layout="row" flex>
                      <p flex>Edit</p>
                      <md-icon>mode_edit</md-icon>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="main.deleteRoleModal($event)" >
                    <div layout="row" flex>
                      <p flex>Delete</p>
                      <md-icon>delete</md-icon>
                    </div>
                </md-button>
              </md-menu-item>            
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>

         <md-card-content>
              <md-list-item ng-repeat="role in main.roles" ng-click="goToPerson(person.name, $event)" class="noright">
                <p>{{ role.name }}</p>
                <p>{{ role.description }}</p>
                <md-checkbox class="md-secondary" ng-change="main.deselectOthers(role)" ng-model="role.isSelected"></md-checkbox>
              </md-list-item>
            </md-list>
        </md-card-content>


      <md-button aria-label="menu" class="md-fab md-warn" ng-click="main.addRoleModal()">
        <md-icon>add</md-icon>
      </md-button>
 




    </md-card>

    <!--<div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div>-->
  </md-content>

</div>
