<div>

  <md-content>


    <md-card>
      <md-toolbar class="md-info">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Roles Management</h2>
        </div>
      </md-toolbar>

         <md-card-content>
              <md-list-item ng-repeat="role in main.roles" ng-click="goToPerson(person.name, $event)" class="noright">
                <p>{{ role.name }}</p>
                <p>{{ role.description }}</p>
               
                <md-button ng-click="main.editRoleModal(role)">
                    <div layout="row" flex>                    
                      <md-icon>mode_edit</md-icon>
                    </div>
                </md-button>
        
                <md-button ng-click="main.deleteRoleModal(role, $event)" >
                    <div layout="row" flex>                     
                      <md-icon>delete</md-icon>
                    </div>
                </md-button>
            
        
       
              </md-list-item>
            </md-list>
        </md-card-content>


      <md-button aria-label="menu" class="md-fab md-warn" ng-click="main.addRoleModal()">
        <md-icon>add</md-icon>
      </md-button>
 
    </md-card>
  </md-content>

</div>
